[submodule "themes/saito-boilerplate"]
	path = themes/saito-boilerplate
	url = https://github.com/hakuoku/saito-boilerplate.git
[submodule "themes/temple"]
	path = themes/temple
	url = https://github.com/aos/temple.git
[submodule "themes/hugo-code-editor-theme"]
	path = themes/hugo-code-editor-theme
	url = https://github.com/aubm/hugo-code-editor-theme.git
