$red: #fc0;
.red {
  color: $red;
}

html {
  background-image: url(/images/crossword.png);
}

h1 {
  font-size: 3em !important;
  color: transparent;
  background-image: url(/images/texture.jpg);
  background-color: #333230;
  background-size: 400px 300px;
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  line-height: 2em !important;
}

.site-title {
  padding: 1em 0em;
}

.posts {
  padding: 0;
}

.post-content {
  font-size: 1.3em;
  font-family: 'Times New Roman', Times, serif;

  pre {
    padding: 0.5em;
    background: rgba(0,0,0,.03);

    code {
      background: transparent;
    }
  }

  code {
    background: rgba(0,0,0,.03);
    padding: 0 .5ch;
  }
}


.posts a {
  color: dodgerblue;
  text-decoration: none;
  font-size: 1.5em;
}
